.header
  height 60px
  line-height 60px
  z-index 9999

  small
    $font-size 14
  .header-logo
    float left
    a
      $font-size 20
      padding-right 0


.nav
  float left
  ul
    li
      float left
.navbar-fixed-top
  position fixed
  left 0
  right 0
  top 0
.navbar-inverse
  background-color #000000
  color #fff
  a
    padding 0 20px
    $font-size 15
    color darken(#ffffff, 20%)
    &:hover
      color #ffffff


