<div class="navbar-box navbar-skin" ng-controller="NavbarCtrl">
  <h1 class="logo">
    <a href="/" title="首页">
      Gyyzyp's blog
    </a>
  </h1>
  <ul class="navbar-menu">
    <li>
      <div class="dropdown">
        <a href="#" class="navbar-item" ng-if="isAdmin()" data-toggle="dropdown" id="submenu">用户管理</a>
        <ul class="dropdown-menu"  aria-labelledby="submenu">
          <li><a class="submenu-item" ui-sref-active="active" ui-sref="userList()"><i class="fa fa-users"></i>用户管理</a></li>
          <li><a class="submenu-item" ui-sref-active="active" ui-sref="blogList()"><i class="fa fa-book"></i>文章管理</a></li>
          <li>  <a class="submenu-item" ui-sref-active="active" ui-sref="tagsManage()"><i class="fa fa-tags">标签管理</i></a></li>
        </ul>

      </div>

    </li>
      <li>
        <a class="navbar-item change-mode" href="javascript:;" ng-click="changeMode()">
          <i ng-if="dayMode" class="fa fa-moon-o"></i>
          <i ng-if="!dayMode" class="fa fa-sun-o"></i>
        </a>
      </li>

    <li ng-if="isLoggedIn()" class="navbar-expanded">

      <a href="javascript:;" class="navbar-item expanded-logout" ng-click="logout()">
          <i class="fa fa-sign-out"></i>
      </a>
      <a class="navbar-item expanded-avatar" ui-sref="setting()">
        <img ng-src="{{ getCurrentUser().avatar || default_avatar}}" />
      </a>
    </li>
    <li ng-if="!isLoggedIn()" class="navbar-expanded">
      <a class="navbar-item" ui-sref-active="active" ui-sref="signin()">
        <i class="fa fa-sign-in"></i>
      </a>
    </li>
  </ul>




  <!-- 小屏幕 -->
  <div class="navbar-shrink">

    <div ng-if="isLoggedIn()" class="pull-right" dropdown is-open="status.isopen">
        <a href="javascript:;" class="shrink-avatar dropdown-toggle" data-toggle="dropdown" dropdown-toggle ng-disabled="disabled">
          <img ng-src="{{ getCurrentUser().avatar || default_avatar}}" />
        </a>
        <ul class="dropdown-menu" role="navbarList">
          <li ng-if="isAdmin()">
            <a href="/user_list"><i class="fa fa-users"></i> 用户管理</a>
            <a href="/blog_list"><i class="fa fa-book"></i> 文章管理</a>
            <a href="/tags_manage"><i class="fa fa-tags"></i> 标签管理</a>
          </li>
          <li>
            <a ui-sref="setting()"><i class="fa fa-cog"></i> 设置</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:;" class="shrink-logout" ng-click="logout()">
                <i class="fa fa-sign-out"></i> 登出
            </a>
          </li>
        </ul>

    </div>

    <div class="pull-right">
      <a class="navbar-item change-mode" href="javascript:;" ng-click="changeMode()">
        <i ng-if="dayMode" class="fa fa-moon-o"></i>
        <i ng-if="!dayMode" class="fa fa-sun-o"></i>
      </a>
    </div>

    <div ng-if="!isLoggedIn()" class="pull-right">
      <a class="shrink-login" ui-sref="signin()">
          <i class="fa fa-sign-in"></i> 登录
      </a>
    </div>

  </div>
</div>
