{% load staticfiles %}
<div class="comment-list">
    {% for related_comment in related_comments %}
        <div class="comment-{{ forloop.counter }} comment-item">
            <div class="comment-body">
                <div class="comment-avator">
                        <img src="{% static 'imags/avatar.png' %}" alt="img" class="img-avatar-small avatar">
                </div>
                <div class="comment-content">
                    <div class="comment-author">
                        {{ related_comment.comment_people }}
                    </div>
                    <div class="comment-time">
                        {{ related_comment.time|date:"Y-m-d H:i:s" }}
                    </div>
                    <div class="comment-text">
                        <p>
                            {{ related_comment.content }}
                        </p>
                    </div>

                </div>
                <div class="comment-children-list">
                    {{ related_comment.get_related_comments|safe }}
                </div>

            </div>
        </div>
    {% endfor %}
</div>
