<header class="header navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="header-logo">
            <a href="/">GyyZyp's Blog</a>
            <small>study and funny</small>
        </div>
        <nav id="nav" class="nav float-clear">
            <ul class="float-clear">
                <li class="go-live">
                    <a href="/post/category/live/">生活碎</a>
                </li>
                <li class="go-technology">
                    <a href="/post/category/tenology/">技术区</a>
                </li>
                <li class="about">
                    <a href="#">关于</a>
                </li>
                <li>
                    <a href="/login">登录</a>
                </li>
            </ul>
        </nav>
    </div>

</header>