article
  padding 70px 0 60px
  margin 0
  &:nth-child(even)
    background-color #ffffff
.author_av_home
.post_author_home
  float left
.post_author_home
  padding-top 9px
.article-item
  h2.title
    box-shadow 6px 0 0 $blue inset
    $font-size 30
    margin-bottom 30px
    padding-left 20px
    margin-left -20px
.entry-content
    position relative
    font-size 15px
    line-height 1.8
    background white
    padding 18px
    box-shadow 0 0 1px 1px #DDD
    margin-right -17px
    .author-detail
      height 56px
      $font-size 13
      color #AAA