.comment-list .comment-item {
  margin-bottom: 20px;
}
.comment-list .comment-body {
  $border-radius: 6px;
  padding: 20px;
  background: #fff;
  display: block;
  z-index: 100;
  position: relative;
}
.comment-list .comment-content .comment-author,
.comment-list .comment-content .comment-time,
.comment-list .comment-content .comment-text {
  padding-left: 40px;
  $font-size: 19;
}
.comment-list .comment-content .comment-author {
  $font-size: 23;
  line-height: 27px;
  height: 30px;
}
.comment-list .comment-content .comment-author .reply-author {
  display: inline-block;
}
.comment-list .comment-content .comment-author .reply-author .re-text {
  color: $orange;
}
.comment-list .comment-content .comment-time {
  $font-size: 15;
  font-style: italic;
}
.comment-list .comment-content .comment-text {
  padding-top: 5px;
}
.comment-list .comment-children-list {
  padding-left: 25px;
}
.comment-list .comment-children-list:not(:empty) {
  margin-top: 10px;
}
.comment-list .comment-children-list .comment-children {
  padding: 10px 10px 10px 0;
}
.comment-list .comment-children-list .comment-children:nth-child(1) {
  border-top: 1px solid rgba(0,0,0,0.13);
}
.comment-list .comment-children-list .comment-children .comment-author {
  $font-size: 16;
}
.comment-respond {
  margin-bottom: 50px;
  padding: 5px;
}
.comment-respond .comment-reply-title {
  margin-top: 50px;
  font-size: 1.8rem;
  color: $blue;
}
.comment-respond .comment-form input {
  display: block;
}
.comment-respond .comment-form textarea {
  width: 100%;
  overflow: auto;
}
p.comment-notes {
  $font-size: 14;
}
