
.comment-list
  .comment-item
    margin-bottom 20px
  .comment-body
    $border-radius 6px
    padding 20px
    background #fff
    display block
    z-index 100
    position relative
  .comment-content
    .comment-author
    .comment-time
    .comment-text
      padding-left 40px
      $font-size 19
    .comment-author
      $font-size 23
      line-height 27px
      height 30px
      .reply-author
        display inline-block
        .re-text
          color $orange
    .comment-time
      $font-size 15
      font-style italic
    .comment-text
      padding-top 5px
  .comment-children-list
    &:not(:empty)
      margin-top 10px

    padding-left 25px
    .comment-children
      padding 10px 10px 10px 0
      &:nth-child(1)
        border-top 1px solid rgba(0,0,0,0.13)
      .comment-author
        $font-size 16

//comment form style

.comment-respond
  margin-bottom 50px
  padding 5px
  .comment-reply-title
    margin-top 50px
    font-size 1.8rem
    color $blue
  .comment-form
    input
      display block
    textarea
      width 100%
      overflow auto

p.comment-notes
  $font-size 14



