@import 'common/main.styl'
@import 'article.styl'
.home-content
  background-color #fff
.intro-site
  padding 50px 15px
  h1
    color $blue
    $font-size 84

.intro-section
  text-align center
  height 100%
  p
    $font-size 15px
    line-height 1.8
    color $grey
  &.intro-section-blank
    background-color #fff
  &.intro-section-orange
    background-color $orange

.intro-site
    padding-right 60px
    padding-left 60px

