{% extends 'include/base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/article_detail.css' %}">
    <script type="text/javascript" src="{% static 'js/comment.js' %}"></script>
{% endblock %}
{% block header %}
    {% include 'include/header.html' %}
{%  endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8  primary">
                <sectoion class="article article-item">
                    <article>
                        <h2 class="title">
                            <a href="/post/{{ article.id }}" class="grey-link">
                                {{ article.title }}
                            </a>
                        </h2>
                        <div class="entry-content">
                            <div class="author-detail">
                                <div class="author_av_home float-clear">
                                    <img src="{% static 'imags/avatar.png' %}" alt="avatar" class="img-avatar-medium avatar">
                                </div>
                                <div class="post_author_home">
                                    <a href="#" class="author orange-link">{{ article.author }}</a>
                                    <span class="time">
                                        <i></i>
                                        {{ article.post_time }}
                                    </span>
                                </div>

                            </div>
                            <p>
                                {{ article.content }}
                            </p>
                        </div>
                    </article>
                </sectoion>
                <section class="comment-section">
                    {% include 'include/comment_list.html' %}
                    {% include 'include/comment_form.html' %}
                </section>
            </div>
            <div class="col-md-4 aside">

            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}