{% extends 'include/base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block header %}
    {% include 'include/header.html' %}
{%  endblock %}
{% block content %}
         <section class="intro-site intro-section intro-section-blank">
            <div class="container">
                <div class="col-lg-offset-1 col-lg-9">
                    <h1>What Site it is ?</h1>
                     <p class="intro-content">
                        这是一个多人博客系统，目前正处于开发测试阶段，目前分为两个板块--生活碎和技术区，其中生活碎主要用于分享
                     日常生活中的见闻趣事，技术区主要用于分享平时学习中接触到的喜欢的各个技术知识
                    </p>
                </div>

             </div>
        </section>
        <section class="intro-site intro-section intro-section-orange">
                <h1>What can you get from there ?</h1>
                <p class="intro-content">
                    这是一个多人博客系统，目前正处于开发测试阶段，目前分为两个板块--生活碎和技术区，其中生活碎主要用于分享
                    日常生活中的见闻趣事，技术区主要用于分享平时学习中接触到的喜欢的各个技术知识
                </p>
        </section>
        <section class="article-list main-article-list">

                        {% for article in article_list %}
                            {% include 'article_list.html' %}
                        {% endfor %}


        </section>


{% endblock %}
{% block footer %}
{% endblock %}
